html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/*Universal Styles*/

body {
    font-family: 'Roboto', sans-serif;
}


html {
  font-size: 16px;
  color: black;
}

p, h2, h3, span {
 font-family: 'Open Sans', sans-serif;
}


/*Header*/

header {
 height: 4.1rem;
 background-color: #342B70;
}

nav {
 display: flex;
 justify-content: space-between;
 padding: .5rem .5rem;
}

nav div {
display: flex;
align-items: center;
}

nav .logo {
  height: 3.3rem;
  margin-left: 1.5rem;
  margin-right: 0;
  padding-bottom: .15rem;
}

nav ul {
  margin-right: 1rem;
}

nav li {
  display: inline;
  padding: 0 1rem;
  font-size: 1.5rem;
}

nav a {
text-decoration: none;
color: white;
}

nav a:hover {
  color: #BC80F8;
}

.responsive {
  display: none;
}

@media only screen and (max-width: 868px) {
  nav .logo {
    margin-right: 4rem;
  }

  header {
    height: 5rem;
  }

}


@media only screen and (max-width: 724px) {

  header {
    height: 7rem;
  }

  nav ul {
    margin-top: 1rem;
  }

}


/* @media only screen and (max-width: 699px) {
  header {
    height: 4.5rem;
  }

  nav li {
    display: none;
  }

  .responsive {
  display: block;
  background-color: #342B70;
  max-width: 100%;
  margin: auto;
  text-align: center;
  }

  .responsive a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;

  } */


  @media only screen and (max-width: 699px) {


    header {
      height: 4.5rem;
    }

    nav li {
      display: none;
    }

    .responsive {
      display: block;
      background-color: #342B70;
      text-align: left;
      padding-bottom: 20px;
      margin-top: -10px;
    }

    .responsive a {
      color: white;
      text-decoration: none;
      font-size: 1.5rem;
      margin-left: 110px;
    }

  @media only screen and (max-width: 460px) {
    nav .logo {
      margin-left: 1rem;
    }

  }

  @media only screen and (max-width: 405px) {
    nav .logo {
      height: 3rem;
    }
  }

    @media only screen and (max-width: 387px) {

      .responsive {
        margin-top: -20px;
      }
      .responsive a {
        font-size: 1rem;
      }

      nav .logo {
        height: 2.8rem;
      }
    }

}



/*Main*/

.container {
  display: flex;
  width: 100%;
}

.left {
  width: 60%;
}

.right {
  width: 40%;
  margin-top: 72px;
}

.left img {
  width: 95%;
  padding: 60px 32px 48px 32px;
}

.text {
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
}

.text h1 {
  font-size: 0rem;
}

.row {
  margin-top: 0px;
  padding-right: 32px;
}

.row:hover {
  background-color: silver;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-text {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
}

.main-text h1 {
  color: #342B70;
  font-weight: bold;
  font-size: 2rem;
  padding-bottom: 16px;
}

.main-text p {
  color: black;
  font-size: 1.1rem;
  padding-bottom: 16px;
  padding-top: 16px;
}

.main-text ul {
  padding-top: 6px;
}
.main-text ul li {
  padding-bottom: 8px;
  padding-left: 16px;
}

@media only screen and (max-width: 1112px) {

  .right {
    margin-top: 60px;
  }

  .main-text h1 {
    font-size: 1.8rem;
  }

  .main-text p {
    font-size: 1rem;
    padding-top: 8px;
  }

  .main-text {
    padding-top: 16px;
    padding-bottom: 0px;
  }

}


@media only screen and (max-width: 838px) {


  .main-text h1 {
    font-size: 1.5rem;
  }

  /* .main-text p {
    font-size: 1rem;
  } */
}


@media only screen and (max-width: 696px) {

  .container {
   display: flex;
   flex-direction: column;
  }

  .left {
    width: 100%;
  }

  .right {
    width: 100%;
    margin-top: 16px;
  }


  .left img {
    padding: 48px 24px 0px 24px;
  }

  .main-text {
    width: 100%;
    padding-top: 32px;
    padding-bottom: 16px;
    padding-left: 24px;

}
}


@media only screen and (min-width: 1445px) {


  .main-text h1 {
    font-size: 3rem;
  }

  .main-text p {
    font-size: 2rem;
  }
}


/* Design Portfolio*/

.flex {
display: flex;
justify-content: center;
flex-wrap: wrap;
}

#portfolio {
  background-color:#342B70;
  padding-top: 16px;
  padding-bottom: 60px;
  margin-top: 5px;

}
.images {
  height: 600px;
  width: 400px;
  padding: 16px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 32px
}

.item {
  width: 100%;
  margin-top: 16px;
}
.item2 {
  height: 375px;
  width:275px;
  margin: 16px 0px 0px 42px;
}

#portfolio h1 {
  font-size: 2.5rem;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 16px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

#portfolio h3 {
  font-size: 1.2rem;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  color: silver;
}

.image-text {
  font-size: 1.3rem;
  padding-top: 16px;
  color: silver;
}

.image-text a {
  color: white;
}

.images {
  border: solid white .25rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* background-color: silver; */
}

.image-text h2 {
  text-align: center;
}
.image-text p {
  font-size: 1rem;
  text-align:justify;
}

.image-text span {
  font-size: .8rem;
}


@media only screen and (max-width: 863px) {

  .images {
    box-shadow: none;

  }
}

@media only screen and (max-width: 611px) {

  #portfolio h1 {
    font-size: 2rem;
  }
}


@media only screen and (max-width: 425px) {

  .item2 {
    margin: 16px 0px 0px 26px;

}
}
@media only screen and (max-width: 375px) {

  .item2 {
    margin: 16px 0px 0px 16px;

}
}

@media only screen and (max-width: 320px) {

  .item2 {
    margin: 16px 0px 0px 8px;

}
}

/*Web Portfolio*/

#web-portfolio{
  background-color:silver;
  padding-top: 16px;
  padding-bottom: 60px;
  margin-top: 0px;
}

#web-portfolio h1 {
  font-size: 2.5rem;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #342B70;
  font-weight: bold;
}

#web-portfolio h2 {
  font-size: 1.2rem;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #342B70;
}

.images2 {
  height: 600px;
  width: 400px;
  padding: 16px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 32px;
  border: solid #342B70 .25rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.images2 .item {
  border: solid black .1rem;
}

.web-link {
  background-color: #342B70;
  width: 200px;
  text-align: center;
  padding: 16px;
  border-radius: 35px;
  margin-top: 64px;
  margin-bottom: 64px;
}

.web-link a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
}

.web-link:hover {
  background-color: blue;
}


@media only screen and (max-width: 863px) {

  .images2 {
    box-shadow: none;

  }
}


@media only screen and (max-width: 611px) {

  #web-portfolio h1 {
    font-size: 2rem;
  }
}



/*About Me*/

#about {
  margin-top: 48px;
}

#about h1 {
  font-size: 2.5rem;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 48px;
  color: #342B70;
  font-weight: bold;

}


.left1 {
  width: 20%;
  margin-left: 48px;
}

.right1 {
  width: 80%;
  margin-top: 0px;
  margin-left: 16px;
}

.left1 img {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row1 {
  margin-top: 0px;
  padding-right: 32px;
  margin-left: 16px;
  margin-right: 16px;
}

.about-text p {
  text-align:justify;
}

.resume {
  background-color: ;
  width: ;
  text-align: left;
  padding: 0px;
  border-radius: 35px;
  color: blue;
}

.resume a {
  text-decoration: underline;
  color: blue;
  font-size: 1.1rem;
}

/* .resume:hover {
  background-color: red;
} */



@media only screen and (max-width: 696px) {

  .left1 {
    width: 100%;
    margin-left: 0px;
  }

  .right1 {
    width: 100%;
    margin-top: 0px;
    margin-left: 16px;
  }

  .left1 img {
  width: 100%;
  padding: 0px 100px 60px 100px;
  box-shadow: none;
  }

}


@media only screen and (max-width: 611px) {

  #about h1 {
    font-size: 2rem;
  }
}


/* Contact Me*/

#contact {
  margin-top: 80px;
  padding: 32px;
  background-color: ;
}

.contact-text p {
  text-align: center;
  padding-bottom: 16px;
}

#contact h1 {
  font-size: 2.5rem;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 32px;
  color: #342B70;
  font-weight: bold;
}

footer {
  background-color: white;
  padding-top: 32px;
  text-align: center;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 32px;
}


@media only screen and (max-width: 611px) {

  #contact h1 {
    font-size: 2rem;
  }
}
